// Info Panel styles
.panel-info {
    background-color: var(--color-surface-4);
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding: 12px 12px;

    .panel__right {
        display: flex;
        align-items: center;
        gap: 12px;

        .panel__btn {
            padding: 4px 12px;
            line-height: 1;
            text-decoration: none;

            &:hover {
                background-color: var(--color-primary-dark);
            }

            &:focus {
                outline: none;
            }
        }

        .panel__text {
            font-size: 0.75rem;
            color: var(--color-text-2);
            font-weight: 500;
        }
    }
}
